test

<div class="container py-3">

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Join The Dating Revolution</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Find your soulmate</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa tempora vero et harum quibusdam, veniam iste neque explicabo eligendi voluptatibus facilis libero quis cum officia quaerat corporis temporibus quidem.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Sign Up Today</h4>
          </div>
          <div class="card-body">
          <p>Click below to get started</p>
        
            <%= link_to "Sign Up Now", new_account_registration_path, class: "w-100 btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>   
  </main>
</div>